.principal {
  border: 2px solid green;
  display: flex;
  justify-content: space-between;
}

.contenedor {
  border: 2px solid;
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elemento {
  border: 1px solid red;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.sub {
  border: 1px solid blue;
  width: 20px;
  height: 20px;
}